/* Main color using
#5243d6
#fcec49
*/

html{
    scroll-behavior: smooth;
    
}

body{
    background-color: #fcec49;
    font-family: 'Courier New', Courier, monospace;
    color: #fcec49;
}
.login-box{
    padding: 40px;
    background:#fff;
    max-width: 700px;
    float: none;
    margin: 150px auto;
    border: 1px solid black;

}
.login-left{
    border-right: 1px solid #5243d6;
    
}


.form-control{
    background-color: transparent !important;
}
