html{
    scroll-behavior: smooth;
}

body{
    background-color:#5243d6;
    font-family: 'Courier New', Courier, monospace;
    color: #fcec49;
}


/*navber*/
nav{
    background-color:#fcec49;
    font-weight: bold;
}

nav a:hover{
    background-color: rgba(211, 211, 211, 0.438);
    border-radius: 35px;
}


.container{
    padding: 50px   ;
}








